@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-1: hwb(209 13% 78%);
  --very-dark-blue-2:  hsl(200, 15%, 8%);
  --very-dark-blue-3: #232f3a;
  --dark-gray: hsl(0, 0%, 52%);
  --gray: #e5e5e5;
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --main-txt-size: 14px;
  --primary-txt-size: 16px;
  --accent-dark-blue: #406385;
  --accent-light-blue: #c0e1f3;
  --accent-dark-blue-alt: #466C91;
  --accent-light-blue-alt: #abc8d9;
  --fade-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  font-family: 'Nunito Sans', sans-serif;
  font-size: var(--main-txt-size);
  overflow-y: scroll;

  // Styles for scrollbar to coincide with the color theme
  ::-webkit-scrollbar {
    width: 0.6rem;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
  }
}

/* semantic color variables for this project */
.theme {
  --main-bg-color: var(--very-light-gray);
  --primary-bg-color: var(--white);
  --main-txt-color: var(--very-dark-blue-2);  
  --icon-bg-color: var(--dark-blue);
  --btn-hover-color: var(--gray);
  --active-color: var(--accent-light-blue);
  --accent-color: var(--accent-light-blue-alt);
  --scrollbar-bg: #E0E0E0;
  &--dark {
    --main-bg-color: var(--very-dark-blue-1);
    --primary-bg-color: var(--dark-blue);
    --main-txt-color: var(--white);
    --icon-bg-color: var(--white);
    --btn-hover-color: var(--very-dark-blue-3);
    --active-color: var(--accent-dark-blue);
    --accent-color: var(--accent-dark-blue-alt);
    --scrollbar-bg: #263340;
  }
}

@for $i from 1 through 3 {
  .elevation-#{$i} {
    box-shadow: #{$i}px #{$i}px #{$i * 3}px rgba(0, 0, 0, 0.2);
  }
}

.icon {
  fill: var(--icon-bg-color);
  stroke: none;
  width: 20px;
  height: 20px;
  &--outlined {
    fill: none;
    stroke: var(--icon-bg-color);
    stroke-width: 2px;
  }
}

.button {
  border: none;
  border-radius: 4px;
  padding: 0.6rem 1.2rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--main-txt-color);
  background-color: var(--primary-bg-color);
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, background-color 0.2s ease, filter 0.1s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &:hover {
    background-color: var(--btn-hover-color);
  }
  &:active {
    filter: brightness(1.02);
  }
  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
  &--icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: .7rem;
    &:hover {
      background-color: var(--active-color);
    }
  }
}

body {
  @extend .fade-transition;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 1rem;
  height: 50px;
  gap: 1rem;
  border-radius: 5px;
  background-color: var(--primary-bg-color);
  &__input {
    color: var(--main-txt-color);
    width: 100%;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: inherit;
    height: 100%;
  }
  &--small {
    width: 200px;
  }
  @media screen and (min-width: 600px) {
    &--large {
      max-width: 500px;
    }
    &--small {
      width: 250px;
    }
  }
}

.container {
  padding: 2rem 1rem;
}

.rounded {
  border-radius: 2rem;
}

.rotate-transition {
  transition: transform 0.1s ease-out;
  &--active {
    transform: rotate(180deg);
  }
}

.transparent {
  background-color: transparent;
}

.fade-transition {
  animation: fade-in 0.3s ease-out;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}