@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-1: hwb(209 13% 78%);
  --very-dark-blue-2:  hsl(200, 15%, 8%);
  --very-dark-blue-3: #485c6e;
  --dark-gray: hsl(0, 0%, 52%);
  --gray: #e5e5e5;
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --main-txt-size: 14px;
  --primary-txt-size: 16px;
  --h2-size: 18px;
  --accent-dark-blue: #406385;
  --accent-light-blue: #c0e1f3;
  --accent-dark-blue-alt: #466C91;
  --accent-light-blue-alt: #abc8d9;
  --error-color-dark: hwb(4 21% 4%);
  --error-color-light: #ff8262;
  --fade-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  --very-light-gray-80: rgba(250, 250, 250, 0.8);
  --very-dark-blue-1-80: hsla(209, 26%, 17%, 0.8);
  
  font-family: 'Nunito Sans', sans-serif;
  font-size: var(--main-txt-size);
  overflow-y: scroll;

  // Styles for scrollbar to coincide with the color theme
  ::-webkit-scrollbar {
    width: 0.6rem;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
  }
}

/* semantic color variables for this project */
.theme {
  --main-bg-color: var(--very-light-gray);
  --main-bg-color-80: var(--very-light-gray-80);
  --primary-bg-color: var(--white);
  --main-txt-color: var(--very-dark-blue-2);  
  --icon-bg-color: var(--dark-blue);
  --btn-hover-color: var(--gray);
  --active-color: var(--accent-light-blue);
  --accent-color: var(--accent-light-blue-alt);
  --accent-color-alt: var(--accent-dark-blue-alt); 
  --scrollbar-bg: #E0E0E0;
  --brightness-filter: brightness(0.98);
  --error-color: var(--error-color-light);
  --accent-brightness-filter: brightness(0.85); 
  &--dark {
    --main-bg-color: var(--very-dark-blue-1);
    --main-bg-color-80: var(--very-dark-blue-1-80);
    --primary-bg-color: var(--dark-blue);
    --main-txt-color: var(--white);
    --icon-bg-color: var(--white);
    --btn-hover-color: var(--very-dark-blue-3);
    --active-color: var(--accent-dark-blue);
    --accent-color: var(--accent-dark-blue-alt);
    --accent-color-alt: var(--accent-light-blue-alt); 
    --scrollbar-bg: #263340;
    --brightness-filter: brightness(1.03);
    --error-color: var(--error-color-dark);
    --accent-brightness-filter: brightness(1.15); 
  }
}

.button {
  border: none;
  user-select: none;
  border-radius: 4px;
  padding: 0.6rem 1.2rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--main-txt-color);
  background-color: var(--primary-bg-color);
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, filter 0.1s ease, var(--fade-transition);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &:hover {
    background-color: var(--btn-hover-color);
  }
  &:active {
    filter: brightness(1.02);
  }
  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
  &--small {
    width: 120px;
    @media screen and (min-width: 768px) {
      
    }
  }
  &--icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: .7rem;
    &:hover {
      background-color: var(--active-color);
    }
  }
  &--link {
    text-decoration: none;
    justify-content: center;
    font-weight: 600;
    &:hover {
      background-color: var(--active-color);
    }
  }
  &--disabled {
    background-color: var(--primary-bg-color);
    cursor: auto;
    opacity: 0.3;
    &:hover {
      background-color: transparent;
    }
    &:active {
      filter: none;
    }
  }
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 1rem;
  height: 50px;
  gap: 1rem;
  border-radius: 5px;
  background-color: var(--primary-bg-color);
  transition: var(--fade-transition);
  &__input {
    color: var(--main-txt-color);
    width: 100%;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: inherit;
    height: 100%;
  }
  &--small {
    width: 200px;
  }
  @media screen and (min-width: 600px) {
    &--large {
      max-width: 600px;
    }
    &--small {
      width: 250px;
    }
  }
}

.container {
  padding: 1rem;
}

.rounded {
  border-radius: 2rem;
}

.rotate-transition {
  transition: transform 0.1s ease-out;
  &--active {
    transform: rotate(180deg);
  }
}

.transparent {
  background-color: transparent;
}

.list-move,
.list-transition-enter-active,
.list-transition-leave-active {
  transition: opacity 0.1s ease;
}

.list-transition-enter-from,
.list-transition-leave-to {
  opacity: 0;
}

.list-leave-action {
  position: absolute;
}


.fade-transition-enter-active,
.fade-transition-leave-active {
  transition: opacity 0.1s ease;
}

.fade-transition-enter-from,
.fade-transition-leave-to {
  opacity: 0;
}

@keyframes fade-show {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-show {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@for $i from 1 through 5 {
  .elevation-#{$i} {
    box-shadow: #{$i}px #{$i}px #{$i * 3}px rgba(0, 0, 0, 0.2);
  }
}

