@import "./base.scss";

html {
  background-color: var(--main-bg-color);
}

body {
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--main-txt-color);
}

.main {
  // padding: 2rem 1rem;
  width: 100%;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    max-width: 1400px;
  }
}

.app-footer {
  margin-top: auto;
}