@import "./base.scss";

html {
  transition: var(--fade-transition);
  background-color: var(--main-bg-color);
}

body {
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--main-txt-color);
}

.main {
  width: 100%;
  box-sizing: border-box;
}

.bar-wrapper {
  position: sticky;
  top: 50px;
  z-index: 90;
  background-color: var(--main-bg-color-80);
  backdrop-filter: blur(50px);
  transition: var(--fade-transition);
  padding-top: .5rem;
}

.app-footer {
  margin-top: auto;
}